html,
body,
.app-viewport {
  height: 100%;
  overflow: hidden; }

.app-viewport {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column; }

.main-toolbar {
  position: relative;
  z-index: 10; }

.md-fab {
  margin: 0;
  position: absolute;
  bottom: -30px;
  left: -120px;
  z-index: 10; }
  .md-fab .md-icon {
    color: #fff; }

.md-title {
  position: relative;
  padding-left: 8px;
  color: #fff; }

.md-bottom-bar {
  min-height: 56px; }

.md-table .md-table-cell {
  height: 20px !important;
  width: 150px !important; }

.md-table table {
  max-width: 400px; }
